<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="mg-header-outer">
            <div class="container">
                <div class="row gx-0 gx-md-2 align-items-center">
                    <div class="col-md-3 col-lg-3 col-5">
                        <div class="header-logo">
                            <a class="mg-logo text-decoration-none" href="index-2.html">MG WIREZ.</a>
                        </div>
                    </div>
                    <div class="col-md-5 col-lg-6 col-2 order-3 order-md-0 d-flex d-md-block justify-content-end justify-content-md-start text-end">
                        <div>
                            <div class="mg-menu-overlay"></div>
                            <nav class="mg-menu" id="menu">
                                <div class="menu-mobile-header">
                                    <button type="button" class="menu-mobile-arrow"><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
                                    <div class="menu-mobile-title"></div>
                                    <button type="button" class="menu-mobile-close"><i class="fa fa-times" aria-hidden="true"></i></button>
                                </div>
                                <ul class="menu-section mg-menu-outer">
                                    <li class="menu-item-has-children">
                                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    <li class="menu-item-has-children">
                                    <li>@Html.ActionLink("Shop", "showProduct", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                                    


                                    <li><a href="about-us.html">About us</a></li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>

                                </ul>
                            </nav>
                            <div>
                                <button type="button" class="menu-mobile-toggle mg-burger-menu-icon">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-5 text-end">
                        <div class="row">
                            <div class="col-12 col-lg-12 col-md-12">
                                <div class="header-icons-outer">
                                    <ul>
                                        <li class="mg-login-box">
                                            <div class="mg-login">
                                                @Html.ActionLink("Log In", "logIn", "Home", new { area = "" }, new { @class = "nav-link" })

                                            </div>
                                        </li>
                                        <li class="mg-login-box">
                                            <div class="mg-login">
                                                @Html.ActionLink("Sign Up", "logIn", "Home", new { area = "" }, new { @class = "nav-link" })

                                            </div>
                                        </li>
                                        <li>
                                            <a href="/Home/Edit">
                                                <img src="~/images/icons/heart.svg" alt="">
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/Home/Cart">
                                                <img src="~/images/icons/Icon-feather-shopping-bag.svg" alt=""><span class="mg-header-icon-counter">2</span>

                                            </a>
                                        </li>
                                        <li class="mg-profile-icon">
                                            <a href="profile.html">
                                                <img src="~/images/icons/profile-icon.svg" alt="">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header filter start here-->
        <div class="mg-header-filter-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-lg-3 col-sm-8 col-8">
                        <div class="mg-category-filter">
                            <div class="dropdown">
                                <a class="mg-dropdown-btn btn btn-dark dropdown-toggle" href="javascript:void(0);" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa-solid fa-bars"></i>
                                    <span>All Department</span>
                                </a>

                                <ul class="dropdown-menu mg-dropdown-list" aria-labelledby="dropdownMenuLink">
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-solid fa-laptop"></i><span>Laptop</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-solid fa-desktop"></i><span>Computer</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-solid fa-mobile-screen-button"></i><span>Mobile</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-solid fa-tablet-screen-button"></i><span>Tablet</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-solid fa-camera-retro"></i><span>Camera</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-solid fa-arrow-trend-up"></i><span>Accessories</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-solid fa-headphones-simple"></i><span>Headphones</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-solid fa-tv"></i><span>Tv & Smart Box</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-solid fa-gamepad"></i><span>Video Game</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-regular fa-clock"></i><span>Smart Watch</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item mg-font-style" href="shop.html">
                                            <i class="fa-regular fa-circle"></i><span>Others</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-3 d-none d-md-block">
                        <div class="mg-search-bar-box">
                            <div class="mg-search-filed">
                                <form class="d-flex">
                                    <div class="mg-search-bar-dropdwon">
                                        <select class="form-select mg-font-style">
                                            <option selected>Category</option>
                                            <option value="Laptop">Laptop</option>
                                            <option value="Mobile">Mobile</option>
                                            <option value="Camera">Camera</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                    <input class="form-control" type="text" placeholder="What do you need..." aria-label="Search">
                                    <button class="btn btn d-flex justify-content-center align-items-center" type="submit">
                                        <img src="~/images/icons/Icon-feather-search.svg" alt="">
                                        <span class="ms-2">Search</span>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-lg-3 col-sm-3 d-none d-md-block">
                        <div class="mg-contact-box d-flex align-items-center justify-content-end">
                            <div class="mg-cotact-icon">
                                <img src="~/images/icons/headphones.svg" alt="">
                            </div>
                            <div class="mg-contact-info">
                                <div class="mg-contact-info-sub-heading">Call us 24/7</div>
                                <a href="tel:+911234567890">+1 (234) 456 789</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 col-4 d-flex d-md-none justify-content-end">
                        <div class="mg-contact-search-icon">
                            <div class="mg-mobile-icons">
                                <a class="mg-mobile-search-icon" href="#" data-bs-toggle="modal" data-bs-target="#search-popup"><img src="~/images/icons/Icon-feather-search-dark.svg" alt=""></a>
                            </div>
                            <div class="mg-mobile-icons">
                                <a href="tel:+911234567890"><img src="~/images/icons/headphones.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--header filter end here-->
    </header>


    <div>
        @RenderBody()
    </div>
    <footer>
        <div class="mg-footer-section">
            <div class="container">
                <div class='mg-footer-section-inner'>
                    <div class="row">
                        <div class="col-md-5">
                            <div class="mg-footer-bio">
                                <a class="mg-footer-logo" href="#">MG WIREZ.</a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                            </div>
                            <div class="mg-newsletter-outer">
                                <h6>Subscribe Our Newsletter</h6>
                                <span>Lorem Ipsum is simply dummy text</span>
                                <div class="mg-newsletter-inner">
                                    <form class="d-flex mt-3">
                                        <input class="form-control" type="search" placeholder="Email address" aria-label="search">
                                        <button class="btn"><i class="fa-solid fa-angle-right"></i></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="mg-footer-link">
                                        <div class="mg-footer-link-heading">
                                            <span>Safe Payment</span>
                                        </div>
                                        <ul class="list-group">
                                            <li><a href="javascript:void(0);">In-Store Shop</a></li>
                                            <li><a href="javascript:void(0);">Brands</a></li>
                                            <li><a href="javascript:void(0);">Gift Cards</a></li>
                                            <li><a href="javascript:void(0);">Careers</a></li>
                                            <li><a href="about-us.html">About Us</a></li>
                                            <li><a href="javascript:void(0);">Shipping</a></li>
                                            <li><a href="javascript:void(0);">Return</a></li>
                                            <li><a href="my-account.html">My Account</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mg-footer-link">
                                        <div class="mg-footer-link-heading">
                                            <span>Information</span>
                                        </div>
                                        <ul class="list-group">
                                            <li><a href="javascript:void(0);">Live Chat</a></li>
                                            <li><a href="javascript:void(0);">Product Guide</a></li>
                                            <li><a href="privacy-policy.html">Privacy Policy</a></li>
                                            <li><a href="javascript:void(0);">Delivery Information</a></li>
                                            <li><a href="javascript:void(0);">Sales</a></li>
                                            <li><a href="javascript:void(0);">Term and Conditions</a></li>
                                            <li><a href="javascript:void(0);">Shopping policy</a></li>
                                            <li><a href="javascript:void(0);">EMI Payment</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mg-footer-link">
                                        <div class="mg-footer-link-heading">
                                            <span>Store</span>
                                        </div>
                                        <ul class="list-group">
                                            <li><a href="javascript:void(0);">Affiliate</a></li>
                                            <li><a href="javascript:void(0);">Bestseller</a></li>
                                            <li><a href="javascript:void(0);">Discount</a></li>
                                            <li><a href="javascript:void(0);">Latest Products</a></li>
                                            <li><a href="javascript:void(0);">Sales</a></li>
                                            <li><a href="shop.html">All Collection</a></li>
                                            <li><a href="wishlist.html">Wishlist</a></li>
                                            <li><a href="contact-us.html">Contact Us</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Copy right section start here-->
                <div class="mg-copy-right-section">
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class="mg-copy-right-text">
                                <span>MADE WITH <i class="fa-solid fa-heart"></i> BY <a href="javascript:void(0)';">MG Technologies.</a></span>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 col-12">
                            <div class='mg-payment-option-img'>
                                <img src="~/images/gallery/download.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
                <!--Copy right section end here-->
            </div>
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
